:root{
    /* Neutral colors */
    --white: hsl(0, 0%, 100%);
    --lightGrayishViolet: hsl(270, 3%, 87%);
    --darkGrayishViolet: hsl(279, 6%, 55%);
    --veryDarkViolet: hsl(278, 68%, 11%);

    /* Primary Colors */
    --redError: hsl(0, 100%, 66%);
    --linearGradientCard: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --gradient1: hsl(249, 99%, 64%);
    --gradient2: hsl(278, 94%, 30%);

    /* Font Family */
    --Primary: 'Space Grotesk', sans-serif;
}